export(setup)
export(theme_shabviz)
export(palette_sv)
export(binary_palette)
export(scale_colour_shabviz_d)
export(scale_color_shabviz_d)
export(scale_fill_shabviz_d)
export(scale_colour_shabviz_c)
export(scale_color_shabviz_c)
export(scale_fill_shabviz_c)
export(install_inter)
